body {
  font-family: 'Roboti', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
  color: #111;
}

#habit-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

#habit-form input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: #fdfdfd;
}

#habit-form input:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

#habit-form button {
  padding: 12px 25px;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#habit-form button:hover {
  background-color: #43a047;
}

#habits {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

@media (min-width: 1201px) {
  #habits {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* Limita a duas colunas em desktops */
  }
}

@media (max-width: 1200px) {
  #habits {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Limita a duas colunas em desktops */
  }
}

@media (max-width: 776px) {
  #habits {
    grid-template-columns: 1fr; /* Uma única coluna */
  }
}

.habit {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.habit:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.habit h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 15px;
  color: #222;
  /*   display: flex;
  justify-content: space-between;
  align-items: center; */
}

.habit-buttons {
  margin-top: 24px;
  display: flex;
  gap: 16px;
}

.habit-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12px, 1fr));
  gap: 4px;
}

.day {
  width: 100%;
  padding-top: 100%;
  background-color: #f5f5f5;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.day.level-1 {
  background-color: #4caf50; /* Verde suave */
}

.day.level-negative {
  background-color: #ff6b6b; /* Vermelho suave */
}

.notification {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  color: #d32f2f;
  display: none;
}

button.add-progress {
  background-color: #4caf50; /* Verde */
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button.add-progress:hover {
  background-color: #388e3c; /* Verde mais escuro */
}

button.remove-progress {
  background-color: #ff6b6b; /* Vermelho */
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button.remove-progress:hover {
  background-color: #e53935; /* Vermelho mais escuro */
}

button.remove-habit {
  background-color: #d32f2f; /* Vermelho forte */
  color: white;
  border: none;
  font-size: 12px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button.remove-habit:hover {
  background-color: #b71c1c; /* Vermelho ainda mais escuro */
}

@media (max-width: 800px) {
  h1 {
    font-size: 22px;
  }

  #habit-form {
    flex-direction: column;
  }

  #habit-form button {
    width: 100%;
  }
}
